#log p {
    margin: 0;
}
#log {
    overflow: scroll;
    height: 100px;
    width: 800px;
    background-color:#c0c0c0;
}
.arena-width {
    width:800px;
}
.arena-height {
    width:500px;
}
#state {
    height: 20px;
    background-color:white;
}
#state p {
    float:left;
    color:black;
}
#state ul {
    margin: 0; padding: 0;
}
#state ul li {
    display:inline;
    margin: 0; padding: 0;
}
#state ul li .img {
    float:left;
    width:16px;
    height:16px;
    margin-right: 10px;
}
#state ul li p {
    float:left;
    margin:0px;
}
#state .player-left {
    float:left;
}
#state .player-right {
    float:right;
}
.shrink-item {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAxklEQVQ4T2NkoBAwUqifYfAZwAb10i8cXmMHiv8D4t8weXQvdAElVIE4HIjRDQFpXg3EV4C4CpcBIkCJvUB8D80QmGYZoLgLEL9DNqAHzbkgQ+KhtoVB5dYB6UAgno+sGSQH8kIHmgFiQH4iEK8A4kioHMjpIUA8F4jfIKtHDwOQZpAXbkI1wwILFLgrgVgJiJ2RDUE3oBMoqYymGWYhzJBrQIFq5DBAdhErlAOPJjTvgQwBReMfXAagqSfMHXxJmbCb0VQAALJeISWRhOK6AAAAAElFTkSuQmCC');
}
